$link-color: rgb(40, 110, 220);
$page-bkgnd: #222;
$bar-black: #111;
$nav-gray: #444;
$content-gray: #333;

body, html {
	background: $page-bkgnd;
	color: #ccc;
}

a {
	color: $link-color;
	text-decoration:none;
}

.active {
	color: $link-color !important;
}

.wrapper {
	padding: 0 20px;
}

.name-title {
	padding-top: 25px;
	p {
		margin: 0;
	}
}

.site {
	margin: 40px auto;
	width: 1000px;
	box-shadow: 0 2px 6px rgba(0, 0, 0, 0.8);
}

.site-header {
	background-color: $bar-black;
	color: #999;
	padding: 0px 10px;
	height: auto;
	vertical-align: middle;

	a {
		font-size: 40px;
	}
	.wrapper  {
		margin: 0;
	}

}

.site-header:after {
	content: " ";
	display: block;
	clear: both;

}

.nav-bar {
	width: 100%;
	border-color: blue;
	border: 2px solid $bar-black;
	background-color: $nav-gray;
	overflow:hidden;

	a {
		background-color: inherit;
		float: left;
		display: block;
		color: #fff;
		padding: 10px 20px;
	}
	.icon {
		display: none;
	}
	a:hover:not(.active) {
		animation-name: blip;
		animation-duration: .75s;
		background-color: $bar-black;
	}

}
@keyframes blip {
	from{ background-color: $nav-gray; }
	to { background-color: $bar-black}
}

.nav-bar:after {
	clear: both;
}

.nav-list:after {
	content: " ";
	display: block;
	clear: both;
}

.site-footer {
	background-color: $bar-black;
	color: #999;
	padding: 20px 0;
}

.face {
	width: 100px;
	padding: 10px;
	float: left;
}

.page-container {
	padding: 20px;
	background: $content-gray;
}
.page-content {
	float: none;
	width: 80%;
	margin: 0 auto;
	background: $content-gray;

}

@media screen and (max-width: 990px) {
	.site {
		width: 740px;
	}

}

@media screen and (max-width: 767px ) {
	.site {
		width: 660px;
	}
}

@media screen and (max-width: 700px ) {
	.site {
		width: 560px;
	}
	.site-header a {
		font-size: 30px;
	}
	.name-title {
		padding-top: 30px;
	}
	.nav-bar a {
		display: none;
	}

	.nav-bar a.active {
		display: block;
	}

	.nav-bar .icon {
		float: right;
		display: block;
	}

	.nav-bar.responsive {
		position: relative;
	}

	.nav-bar.responsive a {
		display: block;
		float: none;
	}

	.nav-bar.responsive a.icon {
		position: absolute;
		right: 0;
		top: 0;
	}
}

@media screen and (max-width: 600px ) {
	.site {
		width: 520px;
	}
	.site-header {
		text-align: center;
	}
	.name-title {
		padding-top: 0px;
	}
	.face {
		padding: 0;
		padding-top: 10px;
		float: none;
	}
}

@media screen and (max-width: 540px ) {
	.site {
		width: 460px;
	}
}

@media screen and (max-width: 480px ) {
	.site {
		width: 380px;
	}
}

@media screen and (max-width: 400px ) {
	.site {
		width: 320px;
	}

	.face {
		width: 80px;
	}
	.site-header a {
		font-size: 30px;
	}
}
